<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Pemilik Rekening</th>
      <th>Nama Bank</th>
      <th>Nomor Rekening</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for( let index = 0; index < bank.length; index++ ) { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= bank[index].name %></td>
      <td><%= bank[index].bankName %></td>
      <td><%= bank[index].noRekening %></td>
      <td>
        <form
          action="/bank/delete/<%= bank[index]._id %>?_method=DELETE"
          method="POST"
        >
          <a href="/bank/edit/<%= bank[index]._id %>" class="btn btn-warning"
            ><i class="fas fa-pencil-alt"></i> Ubah</a
          >
          <button class="btn btn-danger">
            <i class="fas fa-trash"></i> Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
